{% extends "layout.html" %}
{% block content %}
  
<section class="jumbotron text-center">
    <div class="container">
          <h1>Churn Predictor</h1>
          <p class="lead text-muted">This application allows you use the Churn Predictor algorithm.</p>
          <p class="lead text-muted">You can upload your data to either train the algorithm or generate churn
            predictions based on a new dataset.</p>
      </div>
  </section>
  
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">

      <div class="card text-center">
        <div class="card-body">
          <h4 class="card-title">Upload your files</h4>
          <form method="POST" action="" enctype="multipart/form-data">

            <div class="row no-gutters text-center">
              <div class="col-md-6 mb-3">
                <label for="customers" class="col-lg-3 col-form-label form-control-label">customers.csv:</label>
                <input type="file" id="customers" name="customers" class="btn btn-secondary my-2" accept=".csv">
              </div>
              <div class="col-md-6 mb-3">
                <label for="indicators" class="col-lg-3 col-form-label form-control-label">indicators.csv:</label>
                <input type="file" id="indicators" name="indicators" class="btn btn-secondary my-2" accept=".csv">
              </div>
            </div>

            <div class="custom-control custom-switch">
              <input type="checkbox" class="custom-control-input" name="train_mode" id="train_mode">
              <label class="custom-control-label" name="train_mode" for="train_mode">(Re)train the model</label>
            </div>

            <hr class="mb-4">
            
            <button type="submit" class="btn btn-dark btn-lg ">Send your files</button>
          </form>

        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
  </div>
{% endblock %}